@model lab4.model.Worker
@{
    ViewData["Title"] = "Workers";
    Layout = null;
}
<!DOCTYPE html>
 
<html>
<head>
    <title>Worker page</title>
</head>
<body>
<p>
    Имя: @Model.FirstName
</p>
<p>
    Фамилия: @Model.LastName
</p>

<h3>Проекты</h3>

</body>
</html>